@font-face {
    font-family: 'Basiercircle';
    src: url('./BasierCircle-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Basiercircle';
    src: url('./BasierCircle-Regular-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Basiercircle';
    src: url('./BasierCircle-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Basiercircle';
    src: url('./BasierCircle-Medium-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Basiercircle';
    src: url('./BasierCircle-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Basiercircle';
    src: url('./BasierCircle-SemiBold-Italic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Basiercircle';
    src: url('./BasierCircle-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Basiercircle';
    src: url('./BasierCircle-Bold-Italic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}