@import "../theme.scss";

.wrapper {
  display: none;
  z-index: 99;
  border-radius: 35px;
  padding: 20px 30px;
  position: fixed;
  bottom: 2.5%;
  right: 5%;
  font-family: $font-face;
  font-weight: 600;
  font-size: 16px;
  background-color: $primary;
  animation: fade 3s;

  @keyframes fade {
    0% {
      opacity: 0;
    }

    20% {
      opacity: 1;
    }

    80% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}