@import "../theme.scss";

.wrapper {
  position: relative;
  margin: auto auto auto 0;
  width: 100%;
  max-width: 300px;
  height: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
  background-color: $accent2;
}

.title {
  text-align: center;
  padding-right: 10px;
  margin: 30px auto 20px;
  font-family: $font-face;
  font-weight: 600;
  font-size: 36px;
  color: $accent5;
}

.splitter {
  margin: 10px auto;
  width: 95%;
  height: 1.5px;
  background-color: rgba(red($accent), green($accent), blue($accent), 0.5);
}

.menu {
  cursor: pointer;
  margin: 7.5px 0;
  padding: 7.5px 0;
  border-left: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;

  svg {
    width: 24px;
    height: 24px;
    margin: 0 0 0 40px;
  }

  p {
    margin: 0 auto 0 30px;
    font-family: $font-face;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: $grey-1;
  }

  &.active {
    border-left: 2px $accent solid;

    svg {
      stroke: $accent;
    }

    p {
      color: $accent;
    }
  }

  &:hover {
    transition: .5s;
    border-left: 2px $accent solid;
    svg {
      transition: .5s;
      stroke: $accent;
    }

    p {
      transition: .5s;
      color: $accent;
    }
  }
}

.button {
  cursor: pointer;
  margin: auto 0 50px;
  padding: 7.5px 0;
  outline: none;
  border: none;
  border-left: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  background-color: transparent;

  svg {
    width: 24px;
    height: 24px;
    stroke: #e56f83;
    margin: 0 0 0 40px;
  }

  p {
    margin: 0 auto 0 30px;
    font-family: $font-face;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: $grey-1;
  }

  &:hover {
    transition: .5s;
    border-left: 2px $accent solid;
    svg {
      transition: .5s;
      stroke: $accent;
    }

    p {
      transition: .5s;
      color: $accent;
    }
  }
}

@media only screen and (max-width: 1250px) {
  .menu, .button {
    svg {
      width: 20px;
      height: 20px;
    }

    p {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 1050px) {
  .menu, .button {
    svg {
      margin: 0 0 0 25px;
    }

    p {
      margin: 0 auto 0 25px;
    }
  }
}

@media only screen and (max-width: 975px) {
  .title {
    font-size: 28px;
  }
}

@media only screen and (max-width: 900px) {
  .menu, .button {
    p {
      margin: 0 auto 0 15px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .menu, .button {
    svg {
      margin: 0 0 0 15px;
    }
  }
}

@media only screen and (max-width: 750px) {
  .menu, .button {
    svg {
      width: 16px;
      height: 16px;
    }

    p {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 720px) {
  .title {
    font-size: 22px;
  }
}

@media only screen and (max-width: 625px) {
  .menu, .button {
    p {
      margin: 0 auto 0 10px;
    }
  }
}