@import "./fonts/Basiersquare/basiersquare.css";

html,
body {
    padding: 0;
    margin: 0;
    font-family: Basiercircle, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1.jumbo {
    font-family: "Basiercircle", sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: #fff;
    margin: 0;
}

h1 {
    font-family: "Basiercircle", sans-serif;
    font-weight: 700;
    font-size: 48px;
}

h2 {
    font-family: "Basiercircle", sans-serif;
    font-weight: 700;
    font-size: 38px;
}

h3 {
    font-family: "Basiercircle", sans-serif;
    font-weight: 600;
    font-size: 28px;
}

h4 {
    font-family: "Basiercircle", sans-serif;
    font-weight: 600;
    font-size: 21px;
}

h5 {
    font-family: "Basiercircle", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

h6 {
    font-family: "Basiercircle", sans-serif;
    font-weight: 600;
    font-size: 12px;
}

label {
    font-family: "Basiercircle", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

p.text_block_14 {
    font-family: "Basiercircle", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

p.text_block_16 {
    font-family: "Basiercircle", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

p.macro {
    font-family: "Basiercircle", sans-serif;
    font-weight: 600;
    font-size: 10px;
}

p {
    font-family: "Basiercircle", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

@media only screen and (max-width: 767px) {
    h1.jumbo {
        text-align: center;
    }
}