@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Old Theme:
$primary: #5762FA;
$accent: #fbfbfb;
$accent2: #00F69B;

$grey-1: #333;
$grey-2: #828282;
$grey-3: #E0E0E0;
$grey-4: #F2F2F2;

$white: #fff;
$black: #000;*/

$font-face: 'Poppins', sans-serif;

$primary: #e7e9f0;
$accent: #ff9117;
$accent2: #f3eded;
$accent3: #f2f0f1;
$accent4: #f8f7f8;
$accent5: #46404e;

$grey-1: #525557;
$grey-2: #b1b4b7;
$grey-3: #E0E0E0;
$grey-4: #F2F2F2;

$white: #fff;
$black: #000;